@use '../abstracts/variables';
@use '../abstracts/mixins';

/***********************************/
/* EMPLOYEE TABLE COMPONENT STYLE */
/**********************************/

.employee-table {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .search {
        width: 25%;
        min-width: 200px;
        align-self: flex-end;

        @include mixins.medium-break {
            width: 50%;
        }

        @include mixins.small-break {
            width: 100%;
            align-self: normal;
        }
    }
}