@use '../abstracts/variables';
@use '../abstracts/mixins';

/*************************************/
/* REACT-DATA-TABLE COMPONENT STYLE */
/************************************/

.rdt {

    &_TableHeadRow {
        @include mixins.font-size(16.5px);
        font-weight: 700;
        white-space: normal;
    }

    &_Pagination {
        @include mixins.font-size(16.5px);
        font-weight: 500 !important;
        color: variables.$primary-color !important;
    }

    &_TableCell {
        @include mixins.font-size(15px);
    }
}

.hbotQl {
    color: variables.$primary-color;
    white-space: normal !important;
}

.fyrdjl:disabled {
    fill: variables.$primary-color !important;
}